# Matikan rewrite khusus untuk folder ini
RewriteEngine Off

# Izinkan semua untuk mengakses file di folder ini
<FilesMatch "\.php$">
    Require all granted
</FilesMatch>

# Matikan Directory Listing
Options -Indexes